@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@700;900&display=swap');

:root {
    --soft-red: hsl(7, 99%, 70%);
    --yellow: hsl(51, 100%, 49%);
    --dark-cyan: hsl(167, 40%, 24%);
    --dark-blue: hsl(198, 62%, 26%);
    --dark-moderate-cyan: hsl(168, 34%, 41%);
    --desaturated-blue: hsl(212, 27%, 19%);
    --very-dark-grayish-blue: hsl(213, 9%, 39%);
    --dark-grayish-blue: hsl(232, 10%, 55%);
    --grayish-blue: hsl(210, 4%, 67%);
    --white: hsl(0, 0%, 100%);

    --font-barlow:'Barlow', sans-serif;
    --font-fraunces: 'Fraunces', serif;
}


/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% Media Query %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */
@media (max-width: 768px) {
    .hero-section h1 {
        font-size: 42px !important;
        padding-left: 5%;
        padding-right: 5%;
    }
    .collapse {
        max-height: 0px;
        overflow-y: hidden;
    }
    .triangle {
        padding-top: 0 !important;
        width: 0;
      height: 0;
      border-bottom: 25px solid #fffbf8;
      border-left: 25px solid transparent;
      background-color: transparent;
      align-self: flex-end;
    }
    .nav-brand {
        padding: 0 !important;
        
    }
    .nav-small {
        height: 4rem;
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        justify-content: space-between;
    }
    
    .active {
        max-height: auto !important;
        overflow-y: visible !important;
    }

    ul {
        padding-top: 0 !important;
        padding-left: 0 !important;
        width: 100%;
    }

    li {
        background-color: #fffbf8;
        width: 100%;
        text-align: center;
    }

    .nav a {
        color: var(--dark-grayish-blue) !important;
    }

    .btn-contact {
        background-color: var(--yellow) !important;
    }
   .pictures-section {
        grid-template-columns: repeat(1, 1fr) !important;
    }

    .pictures-section .item2 {
        order: -1 !important;
    }

    .nav {
        flex-direction: column !important;
        width: 90% !important;
        margin-left: 5%;
    }

    .pictures-section .item1 > * {
        align-self: center !important;
        text-align: center;
    }

    .pictures-section .item4 > * {
        align-self: center !important;
        text-align: center;
    }

    .testimonials-flex {
        flex-direction: column;
        margin-left: 10% !important;
        margin-right: 10% !important;
        margin-bottom: 2rem !important;
    }

    .testimonials-section h2 {
        margin-top: 4rem !important;
    }

    .testimonials-item span {
        margin-top: 1rem !important;
    }

    .testimonials-item img {
        margin-bottom: 2rem !important;
    }

    .pictures2-section {
        grid-template-columns: repeat(2, 1fr) !important;
        grid-template-rows: repeat(2, 1fr) !important;
    }

    .pictures2-item {
        height: 50vw !important;
        background-position-y: center;
    }
}

@media (min-width: 768px) {
    .hidden {
        display: none;
    }
    .triangle {
        display: none;
    }

    .collapse{
        flex-direction: row !important;
    }
    .collapse li {
        padding-left: 1em !important;
        padding-right: 1em !important;
    }
    .toggle-btn {
        display: none;
    }
    
}
/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% End of Media Query %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */


body {
    background-color: #fffbf8;
    font-family: var(--font-barlow);
    margin: 0;
}


/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% Menu Section %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */
.collapse{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: right;
    align-items: center;
}
.collapse li {
    padding-top: 1em;
    padding-bottom: 1em;
}

.nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.nav a {
    text-decoration: none;
    color: var(--white);
}

.nav-brand {
    padding-left: 3em;
}

.btn-contact {
    background-color: var(--white);
    color: var(--desaturated-blue);
    text-transform: uppercase;
    font-family: var(--font-fraunces);
    border: none;
    padding: 1em 2em 1em 2em;
    border-radius: 30px;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
}

.btn-contact:hover {
    color: var(--white);
    background-color: rgba(255,255,255,0.3);
    outline: none;
    border: none;
}

.toggle-btn {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}
/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% End of Menu Section %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */

/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% Hero Section %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */
.hero-section {
    background-image: url(images/desktop/image-header.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 100%;
    padding-top: 8rem;
    text-align: center;
}

.hero-section h1 {
    color: var(--white);
    font-family: var(--font-fraunces);
    font-weight: 900;
    font-size: 56px;
    letter-spacing: 0.5rem;
    text-transform: uppercase;
    padding-bottom: 3rem;
}

.hero-section img {
    padding-bottom: 15rem;
}
/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% End of Hero Section %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */


/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% Pictures 1 Section %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */
.pictures-section h2 {
    font-family: var(--font-fraunces);
    color: var(--desaturated-blue);
    font-weight: 900;
    font-size: 42px;
    margin: 0;
}

.pictures-section p {
    padding-top: 1rem;
    padding-bottom: 1rem;
    line-height: 1.6rem;
    font-family: var(--font-barlow);
    color: var(--dark-grayish-blue);
}

.pictures-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.picture-grid-item {
    min-height: 550px;
    max-height: 550px;
    background-size: cover;
    background-position-x: center;
}

.picture-grid-item a {
    font-family: var(--font-fraunces);
    text-decoration: none;
    color: var(--desaturated-blue);
    font-weight: 900;
    text-transform: uppercase;
    position: relative;
}

.picture-grid-item a::after{
    content: '';
    height:10px;
    border-radius: 10px;
    z-index: -1;
    width: 120%;
    position: absolute;
    left:calc(0% - 10%);
    bottom: 0px;
    opacity: 0.2;
    transition: 0.5s;
}

.picture-grid-item a:hover::after{
    opacity: 1;
}

.item1 a::after{
   background-color: var(--yellow);
}

.item4 a::after{
    background-color: var(--soft-red);
 }

.pictures-section .item1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
    margin-left: 20%;
}

.pictures-section .item1 > * {
    align-self: flex-start;
}

.pictures-section .item2 {
    background-image: url('images/desktop/image-transform.jpg');
}

.pictures-section .item3 {
    background-image: url('images/desktop/image-stand-out.jpg');
}

.pictures-section .item4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
    margin-left: 20%;
}

.pictures-section .item4 > * {
    align-self: flex-start;
}

.pictures-section .item5 {
    background-image: url('images/desktop/image-graphic-design.jpg');
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-content: center;
}

.pictures-section .item5 > * {
    align-self: center;
    text-align: center;
    width: 50%;
    margin: 0;
    margin-bottom: 1rem;
}

.pictures-section .item6 {
    background-image: url('images/desktop/image-photography.jpg');
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-content: center;
}

.pictures-section .item6 > * {
    align-self: center;
    text-align: center;
    width: 50%;
    margin: 0;
    margin-bottom: 1rem;
}

.pictures-section .item5 h3 {
    font-family: var(--font-fraunces);
    color: var(--dark-cyan);
    font-size: 32px;
}

.pictures-section .item6 h3 {
    font-family: var(--font-fraunces);
    color: var(--dark-blue);
    font-size: 32px;
}

.pictures-section .item5 p {
    color: var(--dark-cyan);
}

.pictures-section .item6 p {
    color: var(--dark-blue);
}
/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% End of Pictures 1 Section %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */

/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% Testimonials Section %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */
.testimonials-section h2 {
    margin-top: 8rem;
    margin-bottom: 4rem;
    text-align: center;
    font-family: var(--font-fraunces);
    color: var(--grayish-blue);
    font-weight: 900;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 0.3rem;
}
.testimonials-flex {
    display: flex;
    margin-left: 10rem;
    margin-right: 10rem;
    margin-bottom: 5rem;
    gap: 2rem;
}
.testimonials-item {
    flex-basis: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--grayish-blue);
}
.testimonials-item img {
    margin-bottom: 3rem;
    width: 70px;
    border-radius: 35px;
}
.testimonials-item p {
    color: var(--very-dark-grayish-blue);
    text-align: center;
    line-height: 1.6rem;
    height: 5rem;
}

.testimonials-item span {
    margin-top: 3rem;
    font-weight: 900;
    font-family: var(--font-fraunces);
    color: var(--desaturated-blue);
}

.p-small {
    color: var(--grayish-blue);
    font-size: 14px;
    margin: 0;
    margin-top: 0.5rem;
}
/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% End of Testimonials Section %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */

/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% Pictures 2 Section %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */
.pictures2-section {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.pictures2-item {
    height: 400px;
    background-size: cover;
    background-position-x: center;
}

.pictures2-section .item1{
    background-image: url('images/desktop/image-gallery-milkbottles.jpg');
}

.pictures2-section .item2{
    background-image: url(images/desktop/image-gallery-orange.jpg);
}

.pictures2-section .item3{
    background-image: url(images/desktop/image-gallery-cone.jpg);
}

.pictures2-section .item4{
    background-image: url(images/desktop/image-gallery-sugarcubes.jpg);
}
/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% End of Pictures 2 Section %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */


/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% Footer Section %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */
.footer {
    background-color: #90d4c5;
    padding-top: 4rem;
    font-size: 11px; 
    text-align: center;
    font-family: var(--font-barlow);
    color: var(--dark-moderate-cyan);
    font-size: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sunnyside-logo {
    fill: var(--dark-moderate-cyan);
    padding-bottom: 1rem;
}

.footer > * {
    align-self: center;
}

.footer p > * {
    padding-left: 1rem;
    padding-right: 1rem;
}

.footer .p-socials > * {
    font-size: 18px;
    
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.footer .p-socials {
    padding-top: 2rem;
    padding-bottom: 1rem;
}


.footer a { 
    color: var(--dark-moderate-cyan);
    text-decoration: none;
    transition: 0.2s;
}

.footer a:hover { 
    color: var(--white);
    text-decoration: none;
}

.attribution {
    justify-content: center;
}
/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% End of Footer Section %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */