@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@700;900&display=swap');

:root {
    --soft-red: hsl(7, 99%, 70%);
    --yellow: hsl(51, 100%, 49%);
    --dark-cyan: hsl(167, 40%, 24%);
    --dark-blue: hsl(198, 62%, 26%);
    --dark-moderate-cyan: hsl(168, 34%, 41%);
    --desaturated-blue: hsl(212, 27%, 19%);
    --very-dark-grayish-blue: hsl(213, 9%, 39%);
    --dark-grayish-blue: hsl(232, 10%, 55%);
    --grayish-blue: hsl(210, 4%, 67%);
    --white: hsl(0, 0%, 100%);

    --font-barlow:'Barlow', sans-serif;
    --font-fraunces: 'Fraunces', serif;
}

@media (max-width: 768px) {
   .pictures-section {
        grid-template-columns: repeat(1, 1fr) !important;
    }
}
/* for large screen lg (1024px) */
@media (max-width: 1024px) {
    
}


body {
    font-family: var(--font-barlow);
    margin: 0;
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: right;
    align-items: center;
}

li {
    padding-left: 1em;
    padding-right: 1em;
}

.flex-grow {
    flex-grow: 1;
}

.nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.nav a {
    text-decoration: none;
    color: var(--white);
}

.nav-brand {
    padding-left: 3em;
}

.btn-contact {
    background-color: rgba(255,255,255,0.3);
    color: var(--white);
    text-transform: uppercase;
    font-family: var(--font-fraunces);
    border: 3px solid transparent;
    padding: 1em 2em 1em 2em;
    border-radius: 30px;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
}

.btn-contact:hover {
    background-color: transparent;
    border: 3px solid var(--white);
    outline: none;
}

.btn-contact:focus {
    outline: none;
}

.hero-section {
    background-image: url(/images/desktop/image-header.jpg);
    background-position: center;
    background-size: cover;
    width: 100%;
    padding-top: 8rem;
    text-align: center;
}

.hero-section h1 {
    color: var(--white);
    font-family: var(--font-fraunces);
    font-weight: 900;
    font-size: 56px;
    letter-spacing: 0.5rem;
    text-transform: uppercase;
    padding-bottom: 3rem;
}

.hero-section img {
    padding-bottom: 15rem;
}

.pictures-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.picture-grid-item {
    height: 550px;
}

h2 {
    font-family: var(--font-fraunces);
    color: var(--desaturated-blue);
    font-weight: 900;
}

p {
    font-family: var(--font-barlow);
    color: var(--dark-grayish-blue);
}

.picture-grid-item a {
    font-family: var(--font-fraunces);
    text-decoration: none;
    color: var(--desaturated-blue);
    font-weight: 900;
    text-transform: uppercase;
}

.item2 {
    background-image: url('/images/desktop/image-transform.jpg');
    background-size: cover;
    background-position-x: center;
}

.item3 {
    background-image: url('/images/desktop/image-stand-out.jpg');
    background-size: cover;
    background-position-x: center;
}

.item5 {
    background-image: url('/images/desktop/image-graphic-design.jpg');
    background-size: cover;
    background-position-x: center;
}

.item6 {
    background-image: url('/images/desktop/image-photography.jpg');
    background-size: cover;
    background-position-x: center;
}